body {
  background-image: url(../img/bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
}

@media only screen and (max-width: 300px) {
  body {background-image: url(img/bg.png);}
}

.frntr-logo {width:100%; height: auto; min-width:100px; max-width: 309px; max-height: 154px; position: absolute; margin: auto; top: 0; right: 0; bottom: 0; left: 0;}
